<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/NTLINH/AUTO/PageObjectDesignPattern">
        <parameter name="browser" value="chrome"/>

        <classes>

            <class name="Railway.MyTicketTest">
                <methods>
                    <include name="TC16"/>

                </methods>
            </class>
        </classes>
    </test>
</suite>