<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/NTLINH/AUTO/PageObjectDesignPattern">
        <parameter name="browser" value="chrome"/>

        <classes>

            <class name="Railway.RegisterTest">

            </class>
            <class name="Railway.LoginTest">

            </class>
            <class name="Railway.MyTicketTest">

            </class>
            <class name="Railway.BookticketTest">

            </class>
            <class name="Railway.ChangePasswordTest">

            </class>
        </classes>
    </test>
</suite>